<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Table1>
    <Servername>pdbaasstd00160.pmintl.net\prd</Servername>
    <Username>pmidtrackingapp_writer</Username>
    <Password>sTyQ/mn32FbBcKAexvP9kQ==</Password>
    <Database>IDKRAPRD_BarcodeTrackingPMID</Database>
    <DatabaseRFID>IDKRAPRD_TrayTrackingPMID</DatabaseRFID>
    <ComPortIn>COM4</ComPortIn>
    <MachineName>MI26</MachineName>
    <TagDelay>40</TagDelay>
    <DelayOff>40</DelayOff>
    <PasswordReset>QdImqlvPexRqEo1FXliu3g==</PasswordReset>
  </Table1>
</NewDataSet>